$font-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$color1: rgba(0, 41, 71, 1);
$color2: #fff;
$color3: rgba(76, 105, 126, 1);
$color4: rgba(0, 29, 50, 1);
$color5: rgba(2, 75, 92, 1);
$color6: rgba(0, 178, 219, 1);
$color7: rgba(1, 52, 64, 1);
$color8: rgba(8, 52, 64, 1);
$color9: rgba(228, 124, 41, 1);
$color10: rgba(76, 199, 56, 1);
$color11: rgba(255, 84, 84, 1);
$color12: rgba(8, 19, 27, 1);
$color13: rgba(228, 228, 228, 1);
$color14: rgba(230, 237, 239, 1);

/* Common Styles Start */
* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: $font-primary;
}

figure {
  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.wrapper {
  max-width: 768px;
  width: 100%;
  padding: 25px 1.5%;
  margin: 0 auto;
  background-color: $color1;
}

%round-box {
  padding: 4px 5%;
  border-radius: 4px;
  display: inline-block;
  color: $color2;
  font-size: 0.875rem;
  line-height: 0.875rem;
}

@mixin add-remove-button($color, $content) {
  content: $content;
  width: 20px;
  height: 20px;
  display: flex;
  border: 2px solid $color;
  border-radius: 50%;
  color: $color;
  font-family: "Font Awesome 6 Free";
  font-size: 0.875rem;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Common Styles End */

/* Main Title Styles Start */
.main-title {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div { 
    width: 50%;
    display: flex;

    &:last-child { justify-content: end; }
  }

  .back-button {
    margin-right: 5%;
    font-size: 0;

    &:hover { cursor: pointer; }
    
    &::before {
      content: '\f177';
      color: $color2;
      font-family: "Font Awesome 6 Free";
      font-size: 1.25rem;
      font-weight: 900;
    }
  }

  h2 {
    color: $color2;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  .time-left {
    @extend %round-box;
    margin-right: 7%;
    background-color: $color5;
  }

  .help-button {
    color: $color2;
    font-size: 0;

    &:hover { cursor: pointer; }

    &::before {
      content: '\f059';
      font-family: "Font Awesome 6 Free";
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}
/* Main Title Styles End */

/* Team Names Styles Start */
.teams {
  margin-bottom: 20px;

  li {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    &:last-child { margin-bottom: 0; }
  }

  figure {
    display: flex;
    align-items: center;

    span {
      color: $color2;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }

  img { 
    width: 5%;
    height: auto;
    border: 1px solid $color2;
    border-radius: 2px;
    margin: unset;
    margin-right: 2%;
  }

  .players-selected {
    @extend %round-box;
    padding: 3px 3%;
    background-color: $color3;
  }
}
/* Team Names Styles End */

/* Some Info Styles Start */
.some-info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  > * { width: 50%; }
}

.credits-and-players { display: flex; }

.stats {
  padding: 8px 2%;
  border-radius: 4px;
  background-color: $color5;

  &:first-child { margin-right: 3%; }
  > span { display: block; }

  .stats-value {
    margin-right: 5px;
    margin-bottom: 8px;
    display: inline-block;
    color: $color2;
    font-size: 1rem;
    font-weight: 500;

    span {
      font-size: x-small;
      font-weight: normal;
      text-transform: capitalize;
    }
  }

  .full-bar {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    position: relative;
    background-color: $color7;

    .inner-bar {
      height: 100%;
      border-radius: 4px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color6;
      font-size: 0;
    }
  }
}

.credits {
  .full-bar {
    .inner-bar {
      width: 45%;
    }
  }
}

.players {
  .full-bar {
    .inner-bar {
      width: 63%;
    }
  }
}

.switch-button {
  width: 170px;
  padding-right: 85px;
  border-radius: 30px;
  position: relative;
  background: $color4;
  color: $color2;
  font-size: 0.875rem;
  overflow: hidden;
  text-align: center;
  text-transform: capitalize;

  .switch-button-label-pitch {
    width: 85px;
    display: flex;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    &::before {
      content: '\f3ce';
      margin-right: 5px;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
    }
  }

  &-checkbox {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;

    &:checked + .switch-button-label:before {
      transform: translateX(85px);
      transition: transform 300ms linear;
    }

    & + .switch-button-label {
      padding: 15px 0;
      display: block;
      position: relative;
      pointer-events: none;
      user-select: none;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 30px;
        position: absolute;
        left: 0;
        top: 0;
        background: $color9;
        transform: translateX(0);
        transition: transform 300ms;
      }

      .switch-button-label-span {
        position: relative;

        &::before {
          content: '\f15c';
          margin-right: 5px;
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
        }
      }
    }
  }
}
/* Some Info Styles End */

/* List Content Styles Start */
.list-items {
  padding: 5px 7px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: $color2;
}

.content-title {
  padding: 5px 2%;
  border-radius: 10px;
  display: flex;
  background-color: $color13;
  align-items: center;

  span {
    color: $color1;
    font-size: 0.625rem;
    text-transform: capitalize;
  }

  .players { flex-basis: 60%; }
  .points { flex-basis: 15%; }
  .credits { flex-basis: 25%; }
}

.players-list {
  padding: 5px 0 0;

  li {
    width: 100%;
    padding: 5px 2%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;

    &.selected {
      border-radius: 4px;
      background-color: $color14;
    }

    &:last-child { margin-bottom: 0; }
  }

  .players-values { 
    display: flex; 
    flex-basis: 60%;
  }

  figure { margin-right: 3%; }
  img { width: 50px; }

  .player-name-and-team {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      margin-bottom: 3px;
      color: $color1;
      font-size: 1rem;
      font-weight: 500;
      text-transform: capitalize;
    }

    span {
      color: $color3;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }

  .points {
    color: $color3;
    font-size: 0.875rem;
    flex-basis: 15%;
  }

  .credits-values {
    display: flex;
    flex-basis: 25%;
    align-items: center;
    justify-content: space-between;

    .credits {
      color: $color1;
      font-size: 0.875rem;
    }

    .add {
      font-size: 0;

      &::before {
        @include add-remove-button($color10, '\2b');
      }
    }

    .remove {
      font-size: 0;

      &::before {
        @include add-remove-button($color11, '\f068');
      }
    }
  }
}

.control-buttons {
  display: flex;
  justify-content: end;

  .notifications {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 5%;
    position: relative;
    background-color: $color9;

    &::before {
      content: '\f0f3';
      height: 100%;
      display: flex;
      color: $color2;
      font-family: "Font Awesome 6 Free";
      font-size: 1rem;
      font-weight: 400;
      align-items: center;
      justify-content: center;
    }

    .no-of-notifications {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: flex;
      position: absolute;
      top: 0;
      right: 2px;
      background-color: $color11;
      color: $color2;
      font-size: 0.5rem;
      align-items: center;
      justify-content: center;
    }
  }

  .continue-button {
    width: 160px;
    border-radius: 5px;
    display: flex;
    background-color: $color9;
    color: $color2;
    font-size: 0.875rem;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;

    &:hover { 
      background-color: $color2;
      color: $color9;
      cursor: pointer; 
    }
  }
}
/* List Content Styles End */

/* Common Override Styles Start */
.show { display: initial; }
.hide { display: none; }
/* Common Override Styles End */