$font-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$color1: rgba(0, 41, 71, 1);
$color2: #fff;
$color3: rgba(76, 105, 126, 1);
$color4: rgba(0, 29, 50, 1);
$color5: rgba(2, 75, 92, 1);
$color6: rgba(0, 178, 219, 1);
$color7: rgba(1, 52, 64, 1);
$color8: rgba(8, 52, 64, 1);
$color9: rgba(228, 124, 41, 1);
$color10: rgba(76, 199, 56, 1);
$color11: rgba(255, 84, 84, 1);
$color12: rgba(8, 19, 27, 1);

/* Common Styles Start */
* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: $font-primary;
}

figure {
  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.wrapper {
  max-width: 768px;
  width: 100%;
  padding: 25px 1.5%;
  margin: 0 auto;
  background-color: $color1;
}

%round-box {
  padding: 4px 5%;
  border-radius: 4px;
  display: inline-block;
  color: $color2;
  font-size: 0.875rem;
}
/* Common Styles End */

/* Main Title Start */
.main-title {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div { 
    width: 50%;
    display: flex;

    &:last-child { justify-content: end; }
  }

  .back-button {
    margin-right: 5%;
    font-size: 0;

    &:hover { cursor: pointer; }
    
    &::before {
      content: '\f177';
      color: $color2;
      font-family: "Font Awesome 6 Free";
      font-size: 1.25rem;
      font-weight: 900;
    }
  }

  h2 {
    color: $color2;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  .time-left {
    @extend %round-box;
    margin-right: 7%;
    background-color: $color5;
  }

  .help-button {
    color: $color2;
    font-size: 0;

    &:hover { cursor: pointer; }

    &::before {
      content: '\f059';
      font-family: "Font Awesome 6 Free";
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}
/* Main Title End */

/* Team Names SCSS Start */
.teams {
  margin-bottom: 20px;
  
  li {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    &:last-child { margin-bottom: 0; }
  }

  figure {
    display: flex;
    align-items: center;

    span {
      color: $color2;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }

  img { 
    width: 5%;
    height: auto;
    border: 1px solid $color2;
    border-radius: 2px;
    margin: unset;
    margin-right: 2%;
  }

  .players-selected {
    @extend %round-box;
    padding: 3px 4%;
    background-color: $color3;
  }
}
/* Team Names SCSS End */