/* Common Styles Start */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

figure img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.wrapper {
  max-width: 768px;
  width: 100%;
  padding: 25px 1.5%;
  margin: 0 auto;
  background-color: rgb(0, 41, 71);
}

.teams .players-selected, .main-title .time-left {
  padding: 4px 5%;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  font-size: 0.875rem;
  line-height: 0.875rem;
}

/* Common Styles End */
/* Main Title Styles Start */
.main-title {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-title div {
  width: 50%;
  display: flex;
}
.main-title div:last-child {
  justify-content: end;
}
.main-title .back-button {
  margin-right: 5%;
  font-size: 0;
}
.main-title .back-button:hover {
  cursor: pointer;
}
.main-title .back-button::before {
  content: "\f177";
  color: #fff;
  font-family: "Font Awesome 6 Free";
  font-size: 1.25rem;
  font-weight: 900;
}
.main-title h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
}
.main-title .time-left {
  margin-right: 7%;
  background-color: rgb(2, 75, 92);
}
.main-title .help-button {
  color: #fff;
  font-size: 0;
}
.main-title .help-button:hover {
  cursor: pointer;
}
.main-title .help-button::before {
  content: "\f059";
  font-family: "Font Awesome 6 Free";
  font-size: 1.25rem;
  font-weight: 500;
}

/* Main Title Styles End */
/* Team Names Styles Start */
.teams {
  margin-bottom: 20px;
}
.teams li {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.teams li:last-child {
  margin-bottom: 0;
}
.teams figure {
  display: flex;
  align-items: center;
}
.teams figure span {
  color: #fff;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.teams img {
  width: 5%;
  min-width: 30px;
  height: auto;
  border: 1px solid #fff;
  border-radius: 2px;
  margin: unset;
  margin-right: 2%;
}
.teams .players-selected {
  padding: 3px 3%;
  background-color: rgb(76, 105, 126);
}

/* Team Names Styles End */
/* Some Info Styles Start */
.some-info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.some-info > * {
  width: 50%;
}

.credits-and-players {
  display: flex;
}

.stats {
  padding: 8px 2%;
  border-radius: 4px;
  background-color: rgb(2, 75, 92);
}
.stats:first-child {
  margin-right: 3%;
}
.stats > span {
  display: block;
}
.stats .stats-value {
  margin-right: 5px;
  margin-bottom: 8px;
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
.stats .stats-value span {
  font-size: x-small;
  font-weight: normal;
  text-transform: capitalize;
}
.stats .full-bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  position: relative;
  background-color: rgb(1, 52, 64);
}
.stats .full-bar .inner-bar {
  height: 100%;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 178, 219);
  font-size: 0;
}

.credits .full-bar .inner-bar {
  width: 45%;
}

.players .full-bar .inner-bar {
  width: 63%;
}

.switch-button {
  width: 170px;
  padding-right: 85px;
  border-radius: 30px;
  position: relative;
  background: rgb(0, 29, 50);
  color: #fff;
  font-size: 0.875rem;
  overflow: hidden;
  text-align: center;
  text-transform: capitalize;
}
.switch-button .switch-button-label-pitch {
  width: 85px;
  display: flex;
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.switch-button .switch-button-label-pitch::before {
  content: "\f3ce";
  margin-right: 5px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
.switch-button-checkbox {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(85px);
  transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
  padding: 15px 0;
  display: block;
  position: relative;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(228, 124, 41);
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span::before {
  content: "\f15c";
  margin-right: 5px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

/* Some Info Styles End */
/* List Content Styles Start */
.list-items {
  padding: 5px 7px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
}

.content-title {
  padding: 5px 2%;
  border-radius: 10px;
  display: flex;
  background-color: rgb(228, 228, 228);
  align-items: center;
}
.content-title span {
  color: rgb(0, 41, 71);
  font-size: 0.625rem;
  text-transform: capitalize;
}
.content-title .players {
  flex-basis: 60%;
}
.content-title .points {
  flex-basis: 15%;
}
.content-title .credits {
  flex-basis: 25%;
}

.players-list {
  padding: 5px 0 0;
}
.players-list li {
  width: 100%;
  padding: 5px 2%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.players-list li.selected {
  border-radius: 4px;
  background-color: rgb(230, 237, 239);
}
.players-list li:last-child {
  margin-bottom: 0;
}
.players-list .players-values {
  display: flex;
  flex-basis: 60%;
}
.players-list figure {
  margin-right: 3%;
}
.players-list img {
  width: 50px;
}
.players-list .player-name-and-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.players-list .player-name-and-team h3 {
  margin-bottom: 3px;
  color: rgb(0, 41, 71);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.players-list .player-name-and-team span {
  color: rgb(76, 105, 126);
  font-size: 0.75rem;
  text-transform: uppercase;
}
.players-list .points {
  color: rgb(76, 105, 126);
  font-size: 0.875rem;
  flex-basis: 15%;
}
.players-list .credits-values {
  display: flex;
  flex-basis: 25%;
  align-items: center;
  justify-content: space-between;
}
.players-list .credits-values .credits {
  color: rgb(0, 41, 71);
  font-size: 0.875rem;
}
.players-list .credits-values .add {
  font-size: 0;
}
.players-list .credits-values .add::before {
  content: "+";
  width: 20px;
  height: 20px;
  display: flex;
  border: 2px solid rgb(76, 199, 56);
  border-radius: 50%;
  color: rgb(76, 199, 56);
  font-family: "Font Awesome 6 Free";
  font-size: 0.875rem;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.players-list .credits-values .remove {
  font-size: 0;
}
.players-list .credits-values .remove::before {
  content: "\f068";
  width: 20px;
  height: 20px;
  display: flex;
  border: 2px solid rgb(255, 84, 84);
  border-radius: 50%;
  color: rgb(255, 84, 84);
  font-family: "Font Awesome 6 Free";
  font-size: 0.875rem;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.control-buttons {
  display: flex;
  justify-content: end;
}
.control-buttons .notifications {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 5%;
  position: relative;
  background-color: rgb(228, 124, 41);
}
.control-buttons .notifications::before {
  content: "\f0f3";
  height: 100%;
  display: flex;
  color: #fff;
  font-family: "Font Awesome 6 Free";
  font-size: 1rem;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}
.control-buttons .notifications .no-of-notifications {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 0;
  right: 2px;
  background-color: rgb(255, 84, 84);
  color: #fff;
  font-size: 0.5rem;
  align-items: center;
  justify-content: center;
}
.control-buttons .continue-button {
  width: 160px;
  border-radius: 5px;
  display: flex;
  background-color: rgb(228, 124, 41);
  color: #fff;
  font-size: 0.875rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.control-buttons .continue-button:hover {
  background-color: #fff;
  color: rgb(228, 124, 41);
  cursor: pointer;
}

/* List Content Styles End */
/* Players Content Styles Start */
.players-content {
  width: 100%;
  border-radius: 5px;
  position: relative;
  background-color: green;
}

.player-row {
  width: 100%;
  position: absolute;
  left: 0;
}
.player-row img {
  width: 50px;
  height: 56px;
}
.player-row h3 {
  margin-bottom: 7px;
  color: #fff;
  font-size: 0.625rem;
  text-transform: uppercase;
  text-align: center;
}
.player-row ul {
  display: flex;
  justify-content: space-evenly;
}
.player-row li h4 {
  padding: 3px 10px;
  border-radius: 3px;
  margin-bottom: 2px;
  font-size: 0.625rem;
}
.player-row li .price {
  width: 100%;
  display: inline-block;
  color: #fff;
  font-size: 0.625rem;
  text-align: center;
}
.player-row li.team-1 h4 {
  background-color: #fff;
  color: rgb(0, 41, 71);
}
.player-row li.team-2 h4 {
  background-color: rgb(8, 19, 27);
  color: #fff;
}
.player-row.wicket-keepers {
  top: 1%;
}
.player-row.batsmen {
  top: 26%;
}
.player-row.all-rounders {
  top: 51%;
}
.player-row.bowlers {
  top: 76%;
}

/* Players Content Styles End */
/* Common Override Styles Start */
.show {
  display: inherit;
}

.hide {
  display: none;
}

/* Common Override Styles End *//*# sourceMappingURL=styles.css.map */